# Build folders
bin/
obj/

# User-specific files
*.user
*.suo

# Log files
*.log

# Visual Studio Code
.vscode/

# Temporary files
*.tmp
*.temp

output/

# Rider project files
.idea/
*.sln.iml

# Secets and sensitive data
/build/secrets.json
